span.black-frame {
    display: block;
    position: absolute;
    border-width: 22px 22px 40px 22px;
    left: -15px;
    top: -15px;
    -moz-border-image: url(../images/black-frame.png) 22 22 40 22 stretch;
}

span.black-frame em {
    display: block;
	height: 30px;
	text-align: center;
	font: 100%/100% Georgia, "Times New Roman", Times, serif;
}

span.cut-corner {
    display: block;
    position: absolute;
    border-width: 25px;
    left: -5px;
    top: -5px;
    -moz-border-image: url(../images/cut-corner.png) 25 round;
}

span.gold-frame {
    display: block;
    position: absolute;
    border-width: 25px;
    left: -15px;
    top: -15px;
    -moz-border-image: url(../images/gold-frame.png) 25 stretch;
}

span.stamp {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    border-width: 5px;
    -moz-border-image: url(../images/stamp-pattern.png) 5 repeat;
}

img.stamp {
    border-width: 5px;
    -moz-border-image: url(../images/stamp-bg.png) 5 repeat;
	padding: 0;
}
